.footer {
  background-color: #efefef;
}

.footer__logo {
  padding-top: 4px;
}

.footer__wrapper {
  padding-top: 12px;
}

.footer__phone {
  padding-top: 12px;
}
.navigation__footer {
  color: #282828;
}

.phone__number--footer a {
  color: #282828;
}

.phone__consultation--footer {
  padding-top: 12px;
}

.phone__btn--footer {
  margin-bottom: 20px;
}
