.indroduce {
  background-image: url('../assets/images/background/main-bg.jpg');
  height: 100vh;
  max-height: 690px;
  width: 100%;
  background-size: cover;
  position: relative;
}

.intro__inner {
  padding-top: 190px;
  display: flex;
  flex-direction: column;
}

.intro__title {
  font-family: 'PlayfairDisplay';
  font-weight: 900;
  color: $color-prim;
  font-size: 42px;
  line-height: 1.2;

  span {
    color: $clor-additional;
  }
}

.intro__subtitle {
  font-size: 16px;
  color: $color-prim;
  font-weight: 400;
  font-family: $font-prim;
  margin-top: -3px;
}

.intro__links {
  width: 245px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro__btn {
  background: transparent;
  width: 150px;
  height: 47px;
  color: $color-prim;
  border: 2px solid $clor-additional;
  border-radius: 6px;
  font-family: $font-prim;
  font-weight: 600;

  &:hover {
    background: $clor-additional;
    transition: all 500ms ease;
  }
}

.intro__stat {
  width: 870px;
  margin-top: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.stat__item {
  display: flex;
  align-items: center;
  border-left: 1px solid $color-prim;
  padding-left: 20px;
}

.stat__item:first-child {
  border: none;
  padding-left: 0px;
}

.stat__count {
  color: $clor-additional;
  font-family: $font-prim;
  font-weight: 900;
  font-size: 42px;
}

.stat__text {
  margin-left: 16px;
  color: $color-prim;
  font-family: $font-prim;
  font-weight: 400;
  font-size: 16px;
}
