.section__portfolio {
  background-color: #fdfdfd;
}

.portfolio__title {
  font-size: 48px;
  text-align: center;
  font-weight: 400;
  font-family: 'PlayfairDisplay';
  line-height: 64px;
}

.portfolio__title:after {
  content: '';
  display: block;
  width: 523px;
  height: 5px;
  margin: 21px auto;
  background-color: #ffe600;
}

.portfolio__subtitle {
  font-size: 16px;
  text-align: center;
  color: #8c8a9c;
  font-family: $font-prim;
  font-weight: 600;
  margin-top: -12px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__column-2,
.gallery__column-3 {
  display: flex;
  flex-direction: column;
}

.gallery__column-3 {
  display: flex;
  flex-direction: column;
}

.gallery__row-2 {
  margin-top: 16px;
}
.gallery__row-4 {
  margin-top: 13px;
}

.gallery__row-4 {
  .block__inst {
    margin-left: 12px;
  }
}
.gallery__img {
  // display: block;
  max-width: 100%;
  height: auto;
}

.gallery__img:hover {
  cursor: url('../assets/images/icons/lupa.svg'), auto;
}

.block__inst {
  position: relative;
  display: inline-block;
}

.inst__link {
  position: absolute;
  top: 9%;
  left: 76%;
}

.inst__link--content {
  width: 170px;
  position: absolute;
  top: 452%;
  right: -133%;
}

.content__text {
  font-size: 24px;
  font-weight: 700;
  color: $color-prim;
  margin: 0;
}

.content__link {
  text-decoration: none;
  color: #562720;
  font-size: 13px;
}

.block__inst {
  .gallery__img:hover {
    cursor: default;
  }
}
