section__portfolio {
  background-color: #fdfdfd;
}

.portfolio__title {
  font-size: 48px;
  text-align: center;
  font-weight: 400;
  font-family: 'PlayfairDisplay';
  line-height: 64px;
}

.portfolio__title:after {
  content: '';
  display: block;
  width: 523px;
  height: 5px;
  margin: 21px auto;
  background-color: #ffe600;
}

.portfolio__subtitle {
  font-size: 16px;
  text-align: center;
  color: #8c8a9c;
  font-family: $font-prim;
  font-weight: 600;
  margin-top: -12px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery {
  display: flex;
  justify-content: center;
}

.filter-menu {
  padding-left: 0;
}

.filter-menu li {
  display: inline-block;
  font-size: 16px;
  padding: 15px 25px;
  background: linear-gradient(180deg, #ff9e00 -33.93%, #ffe100 459.56%);
  border-radius: 5px;
  color: $color-prim;
  cursor: pointer;
  font-family: $font-prim;
}
.filter-menu li:hover,
.filter-menu li.current {
  background: #ffe215;
}
.filter-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}
.item__photo {
  img {
    max-width: 100%;
  }
  // width: 50%;
  padding: 5px;
  // float: left;
}

.item__photo.active {
  border: none;
}

.filter-item li.active {
  // width: 50%;
  // padding: 2px;
  transition: all 0.5s ease;
}

.filter-item li.delete {
  display: none;
  // width: 0%;
  padding: 0;
  transition: all 0.5s ease;
}

.item__photo img {
  display: block;
  // width: 100%;
  height: 100%;
}

@media (max-width: 375px) {
  .portfolio__title {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }

  .portfolio__subtitle {
    font-size: 14px;
  }

  .portfolio__title:after {
    width: 280px;
  }

  .filter-menu li {
    font-size: 14px;
    padding: 8px 15px;
  }
}
