.section {
  background-image: url('../assets/images/background/bg-servises.png');
  height: 100vh;
  max-height: 853px;
  width: 100%;
  background-size: cover;
}

.services {
  width: 1094;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 20px;
}

.services__text {
  text-align: center;
  // margin-top: -50px;
  color: $color-prim;
}
