.section {
  background-image: url('../assets/images/background/bg-servises.png');
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.services {
  width: 1094;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 37px;
}

.services__item {
  width: 370px;
  height: 370px;
  background-image: url('../assets/images/services/apartment.png');
}

.services__text {
  text-align: center;
  // margin-top: -50px;
  color: $color-prim;
}
