.section__stages {
  background-color: #fdfdfd;
  margin-top: 100px;
}

.stages__title {
  font-size: 48px;
  text-align: center;
  font-weight: 400;
  font-family: 'PlayfairDisplay';
  line-height: 64px;
}
