$color-prim: #ffffff;
$clor-additional: #ffe218;
<<<<<<< HEAD
$content-width: 1200px;
=======

$base-font-size: 10px;

>>>>>>> 7d48b6ef81ed3a0f6ba9380c1cb626535f24553f
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

$font-prim: 'SeroPro', Verdana, sans-serif;
