@font-face {
  font-weight: 400;
  font-size: normal;
  font-family: 'SeroPro';

  src: url('../assets/fonts/SeroPro.ttf') format('opentype');
}

@font-face {
  font-weight: 600;
  font-size: normal;
  font-family: 'SeroPro';

  src: url('../assets/fonts/SeroPro-Medium.ttf') format('opentype');
}

@font-face {
  font-weight: 900;
  font-size: normal;
  font-family: 'SeroPro';

  src: url('../assets/fonts/SeroPro-Bold.ttf') format('opentype');
}

@font-face {
  font-weight: 400;
  font-size: normal;
  font-family: 'PlayfairDisplay';

  src: url('../assets/fonts/PlayfairDisplay-Regular.ttf') format('opentype');
}

@font-face {
  font-weight: 900;
  font-size: normal;
  font-family: 'PlayfairDisplay';

  src: url('../assets/fonts/PlayfairDisplay-Bold.ttf') format('opentype');
}
